# Practice Optimizing DataFrames and Processing in Chunks 

In this project, i'll work with finncial lending data from [Lending Club](https://www.lendingclub.com/), a marketplace for personal loans that matches borrowers with investors. 

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to lend. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges. 

The entire dataset consumses about 67 megabytes of memory. We will optimize dataframe and processing in chunks in situation only 10 megabytes of memory available.

In [92]:
import pandas as pd
pd.options.display.max_columns = 99

## Read dataset

In [93]:
loans = pd.read_csv('loans_2007.csv', nrows = 5)
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [94]:
# memory of dataframe in 1000 rows 
memory_thousand = pd.read_csv('loans_2007.csv', nrows = 1000)
memory_thousand.memory_usage(deep = True).sum() / (2**20)

1.5502548217773438

## Calculate total memory usage 

Given that the dataset's 1000 rows consume 1.55 MB of memory, i can expect chunks of 3000 rows to consume around 4.5MB. Because available memory useage is 10MB, it is good to consume less than 50% of available memory.

In [95]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

for chunk in chunk_iter :
    print(chunk.memory_usage(deep = True).sum()/(2**20))

4.649059295654297
4.644805908203125
4.646563529968262
4.647915840148926
4.644108772277832
4.645991325378418
4.644582748413086
4.646951675415039
4.645077705383301
4.64512825012207
4.657840728759766
4.656707763671875
4.663515090942383
4.896956443786621
0.880854606628418

## Explore dataframe in chunks

### Total number of rows

In [96]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

nrow = 0
for chunk in chunk_iter :
    nrow += len(chunk)
    ncol = len(chunk.columns)
print(nrow, ncol)

42538 52

There are 42538 rows and 52 columns in loans dataframe.

### Number of columns by data type

In [97]:
loans_chunks = pd.read_csv('loans_2007.csv', chunksize = 3000)

num_numerical_columns = []
num_object_columns = []
for chunk in loans_chunks : 
    numerical_columns = chunk.select_dtypes(exclude = ['object']).columns
    num_numerical_columns.append(len(numerical_columns))
    object_columns = chunk.select_dtypes(include = ['object']).columns
    num_object_columns.append(len(object_columns))
    
print(f"Number of numerical columns : {num_numerical_columns}")
print(f"Number of object columns : {num_object_columns}")

Number of numerical columns : [31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 30, 30]
Number of object columns : [21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22]

In [98]:
print(f"Columns in numerical_columns : {numerical_columns}")
print(f"Columns in object_columns : {object_columns}")

Columns in numerical_columns : Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'open_acc', 'pub_rec', 'revol_bal', 'total_acc', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies',
       'tax_liens'],
      dtype='object')
Columns in object_columns : Index(['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status',
       'last_pymnt_d', 'last_credit_pull_d', 'application_type'],
      dtype='object')

To optimize dataframe, we need to process column 'id' into integer.

## Check columns for optimizing 

Next step is find columns need to be optimizing. The workflow of check columns for optimizing is same as below : 

1. Check unique vlaues in each object columns.( Find object columns contain values that are less than 50% unique)
2. Check candidates for conversion to the integer type and have no missing values.

### Check object columns

In [99]:
# Count number of unique values in object columns 
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

unique_series = {}
for chunk in chunk_iter : 
    object_df = chunk.select_dtypes(include = ['object'])
    object_columns = object_df.columns
    for col in object_columns : 
        col_unique = chunk[col].value_counts() 
        if col in unique_series : 
            unique_series[col].append(col_unique)
        else : 
            unique_series[col] = [col_unique]

nunique_series = {} 
for col in unique_series : 
    col_concat = pd.concat(unique_series[col])
    col_group = col_concat.groupby(col_concat.index).sum()
    nunique_series[col] = len(col_group)

nunique_series = pd.Series(nunique_series).sort_values(ascending = False)
nunique_series[nunique_series <= 50]

addr_state             50
sub_grade              35
purpose                14
emp_length             11
loan_status             9
grade                   7
home_ownership          5
verification_status     3
pymnt_plan              2
term                    2
application_type        1
initial_list_status     1
dtype: int64

To optimize loan dataframe, above columns need to be covert in category data type.

### Check numerical columns

In [100]:
# Check columns have no missing values 
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

missing = []
for chunk in chunk_iter : 
    numeric_df = chunk.select_dtypes(exclude = ['object'])
    missing.append(numeric_df.isnull().sum())

missing_series = pd.concat(missing)
missing_series = missing_series.groupby(missing_series.index).sum().sort_values(ascending = False)
missing_series

pub_rec_bankruptcies          1368
chargeoff_within_12_mths       148
collections_12_mths_ex_med     148
tax_liens                      108
acc_now_delinq                  32
open_acc                        32
delinq_amnt                     32
pub_rec                         32
delinq_2yrs                     32
total_acc                       32
inq_last_6mths                  32
annual_inc                       7
installment                      3
collection_recovery_fee          3
dti                              3
funded_amnt                      3
funded_amnt_inv                  3
total_rec_prncp                  3
last_pymnt_amnt                  3
loan_amnt                        3
total_rec_late_fee               3
out_prncp                        3
out_prncp_inv                    3
policy_code                      3
recoveries                       3
revol_bal                        3
total_pymnt                      3
total_pymnt_inv                  3
total_rec_int                    3
member_id                        3
id                               0
dtype: int64

### Calculate memory usage across all chunks

In [101]:
# Check memory usage of object columns 
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

object_memory = 0
numeric_memory = 0
total_memory = 0
for chunk in chunk_iter :
    object_df = chunk.select_dtypes(include = ['object'])
    numeric_df = chunk.select_dtypes(exclude = ['object'])
    object_memory += object_df.memory_usage(deep = True).sum()/(2**20)
    numeric_memory += numeric_df.memory_usage(deep = True).sum()/(2**20)
    total_memory += chunk.memory_usage(deep = True).sum()/(2**20)
    
print(f"Memory usage of object columns : {round(object_memory, 3)}MB")
print(f"Memory usage of numeric columns : {round(numeric_memory, 3)}MB")
print(f"Memory usage of total columns : {round(total_memory, 3)}MB")

Memory usage of object columns : 56.182MB
Memory usage of numeric columns : 10.036MB
Memory usage of total columns : 66.216MB

## Optimize columns 

### Object columns

In [102]:
# Check unique value in object columns 
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

unique_series = {}
for chunk in chunk_iter : 
    object_df = chunk.select_dtypes(include = ['object'])
    object_columns = object_df.columns
    for col in object_columns : 
        col_unique = chunk[col].value_counts() 
        if col in unique_series : 
            unique_series[col].append(col_unique)
        else : 
            unique_series[col] = [col_unique]

for col in unique_series : 
    col_concat = pd.concat(unique_series[col])
    col_group = col_concat.groupby(col_concat.index).sum()
    print(col_group)

 36 months    31534
 60 months    11001
Name: term, dtype: int64
  5.42%    573
  5.79%    410
  5.99%    347
  6.00%     19
  6.03%    447
          ...
 23.59%      4
 23.91%     11
 24.11%      3
 24.40%      1
 24.59%      1
Name: int_rate, Length: 394, dtype: int64
A    10183
B    12389
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64
A1    1142
A2    1520
A3    1823
A4    2905
A5    2793
B1    1882
B2    2113
B3    2997
B4    2590
B5    2807
C1    2264
C2    2157
C3    1658
C4    1370
C5    1291
D1    1053
D2    1485
D3    1322
D4    1140
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G3      79
G4      99
G5      86
Name: sub_grade, dtype: int64
  old palm inc                       1
 Brocade Communications              1
 CenturyLink                         1
 Department of Homeland Security     1
 Down To Earth Distributors, Inc.    1
                                    ..
zashko inc.                          1
zeno office solutions                1
zion lutheran school                 1
zoll medical corp                    1
zozaya officiating                   1
Name: emp_title, Length: 30658, dtype: int64
1 year       3595
10+ years    9369
2 years      4743
3 years      4364
4 years      3649
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
< 1 year     5062
Name: emp_length, dtype: int64
MORTGAGE    18959
NONE            8
OTHER         136
OWN          3251
RENT        20181
Name: home_ownership, dtype: int64
Not Verified       18758
Source Verified    10306
Verified           13471
Name: verification_status, dtype: int64
Apr-2008     259
Apr-2009     333
Apr-2010     912
Apr-2011    1563
Aug-2007      74
Aug-2008     100
Aug-2009     446
Aug-2010    1175
Aug-2011    1934
Dec-2007     172
Dec-2008     253
Dec-2009     658
Dec-2010    1335
Dec-2011    2267
Feb-2008     306
Feb-2009     302
Feb-2010     682
Feb-2011    1298
Jan-2008     305
Jan-2009     269
Jan-2010     662
Jan-2011    1380
Jul-2007      63
Jul-2008     141
Jul-2009     411
Jul-2010    1204
Jul-2011    1875
Jun-2007      24
Jun-2008     124
Jun-2009     406
Jun-2010    1105
Jun-2011    1835
Mar-2008     402
Mar-2009     324
Mar-2010     828
Mar-2011    1448
May-2008     115
May-2009     359
May-2010     989
May-2011    1704
Nov-2007     112
Nov-2008     209
Nov-2009     662
Nov-2010    1224
Nov-2011    2232
Oct-2007     105
Oct-2008     122
Oct-2009     604
Oct-2010    1232
Oct-2011    2118
Sep-2007      53
Sep-2008      57
Sep-2009     507
Sep-2010    1189
Sep-2011    2067
Name: issue_d, dtype: int64
Charged Off                                             5634
Current                                                  961
Default                                                    3
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             33136
In Grace Period                                           20
Late (16-30 days)                                          8
Late (31-120 days)                                        24
Name: loan_status, dtype: int64
n    42534
y        1
Name: pymnt_plan, dtype: int64
car                    1615
credit_card            5477
debt_consolidation    19776
educational             422
home_improvement       3199
house                   426
major_purchase         2311
medical                 753
moving                  629
other                  4425
renewable_energy        106
small_business         1992
vacation                400
wedding                1004
Name: purpose, dtype: int64
\tdebt_consolidation         2
   HITEK  EQUIPMENT          1
 APRILIA TUONO 1000R         1
 Auto                        1
 Auto Loan                   1
                            ..
zack                         2
zandercade                   1
zipcar                       1
zxcvb                        1
îîMY FIRST CAR îî    1
Name: title, Length: 21264, dtype: int64
007xx      1
010xx    106
011xx     17
012xx     16
013xx     14
        ...
995xx     35
996xx     15
997xx     22
998xx     10
999xx      1
Name: zip_code, Length: 837, dtype: int64
AK      86
AL     484
AR     261
AZ     933
CA    7429
CO     857
CT     816
DC     224
DE     136
FL    3104
GA    1503
HI     181
IA      12
ID       9
IL    1672
IN      19
KS     298
KY     359
LA     461
MA    1438
MD    1125
ME       3
MI     796
MN     652
MO     765
MS      26
MT      96
NC     830
NE      11
NH     188
NJ    1988
NM     205
NV     527
NY    4065
OH    1329
OK     317
OR     468
PA    1651
RI     208
SC     489
SD      67
TN      32
TX    2915
UT     278
VA    1487
VT      57
WA     888
WI     516
WV     187
WY      87
Name: addr_state, dtype: int64
Apr-1964      3
Apr-1966      1
Apr-1967      4
Apr-1968      1
Apr-1969      1
           ...
Sep-2004    221
Sep-2005    162
Sep-2006    150
Sep-2007     63
Sep-2008      8
Name: earliest_cr_line, Length: 530, dtype: int64
0%       1070
0.01%       1
0.03%       1
0.04%       1
0.05%       1
         ...
99.5%      24
99.6%      27
99.7%      32
99.8%      25
99.9%      29
Name: revol_util, Length: 1119, dtype: int64
f    42535
Name: initial_list_status, dtype: int64
Apr-2008     23
Apr-2009     72
Apr-2010    145
Apr-2011    519
Apr-2012    781
           ...
Sep-2011    491
Sep-2012    802
Sep-2013    712
Sep-2014    694
Sep-2015    211
Name: last_pymnt_d, Length: 103, dtype: int64
Apr-2009     24
Apr-2010     77
Apr-2011    177
Apr-2012    326
Apr-2013    445
           ...
Sep-2011    175
Sep-2012    414
Sep-2013    408
Sep-2014    564
Sep-2015    531
Name: last_credit_pull_d, Length: 108, dtype: int64
INDIVIDUAL    42535
Name: application_type, dtype: int64
100134                                             1
100214                                             1
101579                                             1
102376                                             1
102823                                             1
                                                  ..
99982                                              1
99987                                              1
Loans that do not meet the credit policy           1
Total amount funded in policy code 1: 471701350    1
Total amount funded in policy code 2: 0            1
Name: id, Length: 3538, dtype: int64

Useful object columns for analysis are 'id', 'term', 'int_rate', 'sub_grade', 'emp_title', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'addr_status', 'earliest_cr_line', 'revol_util', 'last_pymnt_d', 'last_credit_pull_d'. From result of unique values and number of unique values, object columns need to be converted as below : 

- id : as numeric
- term : as numeric(strip months)
- int_rate : as numeric(strip %)
- sub_garde : as category 
- emp_title : same 
- home_ownership : as category
- verifiation_status : as category
- issue_d : as datetime 
- loan_status : as category
- purpose : as category 
- addr_state : as category
- earliest_cr_line : as datetime
- revol_util : as numeric(strip %)
- last_pymnt_d : as datetime
- last_credit_pull_d : as datetime

In [103]:
# Convert object type to numerical type 
print(f"Previous total memory : {total_memory}")
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000)

total_memory = 0
for chunk in chunk_iter : 
    term_split = chunk['term'].str.split(" ").str[1]
    chunk['term'] = pd.to_numeric(term_split)
    int_strip = chunk['int_rate'].str.rstrip('%')
    chunk['int_rate'] = pd.to_numeric(int_strip)
    revol_strip = chunk['revol_util'].str.rstrip('%')
    chunk['revol_util'] = pd.to_numeric(revol_strip) 
    
    total_memory += chunk.memory_usage(deep = True).sum()/(2**20)
    
print(f"Current total memory : {total_memory}")

Previous total memory : 66.21605968475342
Current total memory : 59.37732982635498

In [107]:
# Convert object type to category
print(f"Previous total memory : {total_memory}")
chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000, parse_dates = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d'])

total_memory = 0
for chunk in chunk_iter : 
    term_split = chunk['term'].str.split(" ").str[1]
    chunk['term'] = pd.to_numeric(term_split)
    int_strip = chunk['int_rate'].str.rstrip('%')
    chunk['int_rate'] = pd.to_numeric(int_strip)
    revol_strip = chunk['revol_util'].str.rstrip('%')
    chunk['revol_util'] = pd.to_numeric(revol_strip) 
    
    total_memory += chunk.memory_usage(deep = True).sum()/(2**20)
    
print(f"Current total memory : {round(total_memory,3)}MB")

Previous total memory : 59.37732982635498
Current total memory : 50.131991386413574

In [109]:
# Convert object type to datetime 
print(f"Previous total memory : {round(total_memory,3)}MB")

cat_dtypes = {
    'sub_grade' : 'category',
    'home_ownership' : 'category',
    'verification_status' : 'category',
    'loan_status' : 'category',
    'purpose' : 'category',
    'addr_state' : 'category'
}

chunk_iter = pd.read_csv('loans_2007.csv', chunksize = 3000, 
                         dtype = cat_dtypes,
                         parse_dates = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d'])

total_memory = 0
for chunk in chunk_iter : 
    term_split = chunk['term'].str.split(" ").str[1]
    chunk['term'] = pd.to_numeric(term_split)
    int_strip = chunk['int_rate'].str.rstrip('%')
    chunk['int_rate'] = pd.to_numeric(int_strip)
    revol_strip = chunk['revol_util'].str.rstrip('%')
    chunk['revol_util'] = pd.to_numeric(revol_strip) 

    total_memory += chunk.memory_usage(deep = True).sum()/(2**20)
    
print(f"Current total memory : {round(total_memory,3)}MB")

Previous total memory : 50.131991386413574
Current total memory : 34.713704109191895

In [110]:
chunk.dtypes

id                                    object
member_id                            float64
loan_amnt                            float64
funded_amnt                          float64
funded_amnt_inv                      float64
term                                 float64
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                           category
emp_title                             object
emp_length                            object
home_ownership                      category
annual_inc                           float64
verification_status                 category
issue_d                       datetime64[ns]
loan_status                         category
pymnt_plan                            object
purpose                             category
title                                 object
zip_code                              object
addr_state                          category
dti                                  float64
delinq_2yrs                          float64
earliest_cr_line              datetime64[ns]
inq_last_6mths                       float64
open_acc                             float64
pub_rec                              float64
revol_bal                            float64
revol_util                           float64
total_acc                            float64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
last_credit_pull_d            datetime64[ns]
collections_12_mths_ex_med           float64
policy_code                          float64
application_type                      object
acc_now_delinq                       float64
chargeoff_within_12_mths             float64
delinq_amnt                          float64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object